.header {
  display: flex;
  justify-content: space-between;
  padding: 7px 50px;
  background-color: transparent;
  position: sticky;
  top: 0px;
  z-index: 999;
  background-color: rgb(199, 199, 240);
  box-shadow: 0px 0.6px 1px;
}
.header a {
  text-decoration: none;
  color: rgb(37, 88, 57);
  font-weight: bold;
  font-size: 17px;
}
.rightsidenav a {
  margin-right: 15px;
  text-decoration: none;
}
.backGround {
  background-image: url(./asset/picture/Rectangle\ 1.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.backGround0 {
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 0;
  height: 100vh;
}
.home-details {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
}
.details {
  width: 400px;
  color: white;
  margin-right: 30px;
  padding-left: 10px;
}
.ima {
  display: flex;
  width: 700px;
  padding-right: 10px;
}
.child {
  position: relative;
  cursor: pointer;
}
.child h6 {
  position: absolute;
  bottom: 10px;
  left: 40px;
  color: white;
}
.picture {
  width: 180px;
  height: 250px;
  margin-left: 20px;
  border-radius: 10px;
  object-fit: cover;
}
.picture:active {
  border: 2px solid white;
}
.details button {
  color: white;
  border: none;
  font-weight: 700;
  padding: 5px 15px;
  border-radius: 10px;
  background-color: rgb(211, 134, 35);
}
.motherInfo {
  display: flex;
  justify-content: space-around;
  padding-top: 100px;
}
.detaileInfo {
  width: 500px;
  color: white;
}

.destinationinfo {
  width: 280px;
  background-color: whitesmoke;
  padding: 15px;
  border-radius: 4px;
}
.destinationinfo input {
  width: 250px;
  padding: 2px;
  font-size: 17px;
  border: none;
  background-color: rgb(233, 215, 215);
}
.destinationinfo label {
  font-weight: 500;
}
.destinationinfo button {
  width: 250px;
  margin-top: 15px;
  color: rgb(27, 26, 26);
  border: none;
  font-weight: 400;
  padding: 5px 15px;
  border-radius: 5px;
  background-color: rgb(211, 134, 35);
}
.destination {
  display: flex;
  justify-content: center;
  padding: 20px;
}
.info-hotel {
  width: 700px;
}
.map {
  width: 500px;
  margin-left: 10px;
}
.hotel-mother {
  display: flex;
  align-items: center;
  padding-top: 8px;
}
.hotel-desc {
  width: 250px;
  margin-left: 15px;
}
.hotel-desc p {
  font-size: 12px;
  margin: 3px;
}
.image-hotel img {
  width: 220px;
  border-radius: 10px;
}

/* log in and reg page */
.log-main-page {
  width: 100%;
  background: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.5) 50%,
      rgba(0, 0, 0, 0.5) 50%
    ),
    url(./asset/picture/project.jpeg);
  background-position: center;
  background-size: cover;
  height: 100vh;
  padding-top: 60px;
}
.from {
  width: 300px;
  height: 250px;
  margin: 0px auto;

  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.6) 50%,
    rgba(0, 0, 0, 0.6) 50%
  );
  border-radius: 9px;
  padding: 25px;
}
.from h6 {
  background-color: antiquewhite;
  text-align: center;
  color: rgb(219, 19, 209);
  border-radius: 7px;
  padding: 9px;
  margin-bottom: 5px;
  cursor: pointer;
}
.from input {
  width: 200px;
  margin: 10px 20px;
  background: transparent;
  border-bottom: 1px solid orange;
  border-top: none;
  border-right: none;
  border-left: none;
  text-align: center;
  padding: 4px;
  font-size: 12px;
  color: aliceblue;
  letter-spacing: 1.2px;
}
.btn2 {
  background-color: orange;
  width: 200px;
  border: none;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  margin-left: 21px;
  font-size: 15px;
  font-weight: 400;
  cursor: pointer;
  color: aliceblue;
  text-align: center;
}
.reg-from {
  width: 300px;
  height: 350px;
  margin: 0px auto;

  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.6) 50%,
    rgba(0, 0, 0, 0.6) 50%
  );
  border-radius: 9px;
  padding: 25px;
}
.reg-from h6 {
  background-color: antiquewhite;
  text-align: center;
  color: rgb(219, 19, 209);
  border-radius: 7px;
  padding: 3px;
  margin-bottom: 10px;
}
.reg-from input {
  width: 200px;
  margin: 10px 20px;
  background: transparent;
  border-bottom: 1px solid orange;
  border-top: none;
  border-right: none;
  border-left: none;
  text-align: center;
  padding: 4px;
  font-size: 12px;
  color: aliceblue;
  letter-spacing: 1.2px;
}
.google-button {
  width: 280px;
  margin: 20px auto;
}
.google-button button {
  background-color: orange;
  width: 200px;
  height: 30px;
  border: none;
  border-radius: 20px;
  font-size: 15px;
  font-weight: 400;
  cursor: pointer;
  color: aliceblue;
  text-align: center;
  color: white;
  margin-left: 30px;
}
.logbtn {
  border: none;
  border-radius: 10px;
  text-align: center;
  padding: 2px 5px;
  margin-left: 10px;
  font-weight: 500;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.8) 50%,
    rgba(0, 0, 0, 0.8) 50%
  );
  color: white;
}
